name: "Backend tests"

# any branch is useful for testing before a PR is submitted
on: [push, pull_request]

jobs:
  withplugins:
    # run on pushes to any branch
    # run on PRs from external forks
    if: |
      (github.event_name != 'pull_request')
      || (github.event.pull_request.head.repo.id != github.event.pull_request.base.repo.id)
    name: with Plugins
    runs-on: ubuntu-latest

    steps:
      -
        name: Install etherpad core
        uses: actions/checkout@v4
        with:
          repository: ether/etherpad-lite
          path: ./etherpad
      -
        name: Checkout plugin repository
        uses: actions/checkout@v4
        with:
          path: ./plugin
      -
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      -
        name: Prepare Etherpad core
        run: |
          cd ./etherpad/src
          ./bin/installDeps.sh
          pnpm link --global
          ls -lisa ../node_modules
      -
        name: Prepare plugin
        run: |
          pnpm config set auto-install-peers false
          cd ./plugin
          PLUGIN_NAME=$(npx -c 'printf %s\\n "${npm_package_name}"') || exit 1
          pnpm i
          pnpm link --global
          pnpm link --global ep_etherpad-lite
          cd ../etherpad/src
          pnpm link --global "${PLUGIN_NAME}"
          # Rename to match the glob pattern passed to mocha.
          ln -s ../node_modules/${PLUGIN_NAME} ./node_modules/ep_client
      -
        name: Remove core tests so only the client is tested
        run: rm -rf ./etherpad/src/tests/backend/specs
      -
        name: Run the backend tests
        run: cd ./etherpad/src && pnpm test
